.fa-plus-square, .fa-heart, .fa-edit:hover, .fa-trash-alt {
    cursor: pointer;
}

.fa-heart {
    color: hotpink;
}


.fa-flag, .fa-key {
    color: gray;
}

#entryCheckBox {
    display: none;
}

.members {
    opacity: 0.4;
}

.isLogin {
    color: blueviolet;
    font-weight: bold;
    opacity: 1;
}

.index-container {
    padding-top: 4.5rem;
}


.main-container {
    display: flex;
    flex-flow: column;
}


.message-form {
    padding: 16px 0;
}

.message-hr {
    margin-top: 32px;
    border: none;
    border-top: 1px dotted #8c8b8b;
    text-align: center;
}

hr::before {
    content: attr(data-date);
    display: inline-block;
    position: relative;
    top: -12px;
    background-color: #ffffff;
    padding: 0 16px;
}

.message-area {
    word-break : break-all;
}

.members-profile-image {
    max-width: 100%;
    height: 24px;
    margin-right: 8px;
    vertical-align: bottom;
}

.nav-profile-image {
    max-width: 100%;
    height: 36px;
    margin-right: 8px;
    vertical-align: center;
}


/*
hr {
    margin-top: 48px;
    border: none;
    border-top: 3px dashed pink;
    text-align: center;
}

hr::before {
    content: attr(data-date)"";
    display: inline-block;
    position: relative;
    top: -12px;
}
*/

.center {
    padding-top: 4.5rem;
}

.right-sidebar {
    padding-bottom: 4.5rem;
}



@media only screen and (min-width: 768px) {

    .main-container {
        flex-flow: row;
    }

    .center {
        padding: 4.5rem 0;
        flex: 1 1 auto;
        margin: 0 240px;
    }

    .left-sidebar {
        padding: 4.5rem 1rem;
        flex: 0 0 220px;
        position: fixed;
        left: 0;
        width: 240px;
        height: 100%;
        overflow-y: auto;
    }

    .right-sidebar {
        padding: 4.5rem 1rem;
        flex: 0 0 240px;
        position: fixed;
        right: 0;
        width: 240px;
        height: 100%;
        overflow-y: auto;
    }




}