.fa-plus-square, .fa-star, .fa-edit, .fa-trash-alt {
    cursor: pointer;
}

.fa-plus-square, .fa-edit {
    color: #62c462;
}

.far.fa-star {
    color: #e9ecef;
}

.fas.fa-star {
    color: #f89406;
}

.fa-lock-open, .fa-lock{
    color: #7A8288;
    vertical-align: auto;
}

.fa-trash-alt {
    color: #ee5f5b;
}

#entryCheckBox {
    display: none;
}

.members {
    opacity: 0.4;
}

.isLogin {
    font-weight: bold;
    opacity: 1;
}

.index-container {
    padding-top: 4.5rem;
}


.main-container {
    display: flex;
    flex-flow: column;
}

.message-form {
    padding: 16px 0;
}

.message-hr {
    margin-top: 32px;
    border: none;
    border-top: 1px dotted #8c8b8b;
    text-align: center;
}

hr::before {
    content: attr(data-date);
    display: inline-block;
    position: relative;
    top: -12px;
    background-color: #272B30;
    padding: 0 16px;
}

.message-area {
    word-break : break-all;
}

.members-profile-image {
    max-width: 100%;
    height: 24px;
    margin-right: 4px;
    vertical-align: top;
}

.nav-profile-image {
    max-width: 100%;
    height: 28px;
    vertical-align: center;
    margin-right: 0.5rem;

}

.navbar-text {
    margin-right: 16px;

}

.center {
    padding-top: 4.5rem;
}

.right-sidebar {
    padding-bottom: 4.5rem;
}



@media only screen and (min-width: 768px) {

    .main-container {
        flex-flow: row;
    }

    .center {
        padding: 4.5rem 0;
        flex: 1 1 auto;
        margin: 0 240px;
    }

    .left-sidebar {
        padding: 4.5rem 1rem;
        flex: 0 0 240px;
        position: fixed;
        left: 0;
        width: 240px;
        height: 100%;
        overflow-y: auto;
    }

    .right-sidebar {
        padding: 4.5rem 1rem;
        flex: 0 0 240px;
        position: fixed;
        right: 0;
        width: 240px;
        height: 100%;
        overflow-y: auto;
    }

}