body {
    padding:4.5rem 0;
}

.fa-plus-square, .fa-heart, .fa-edit:hover {
    cursor: pointer;
}

.fa-heart {
    color: hotpink;
}


.fa-flag, .fa-key {
    color: gray;
}

#entryCheckBox {
    display: none;
}

.isLogin {
    color: blueviolet;
    font-weight: bold;
}


.main-container {
    display: flex;
}

.left-sidebar {
    flex: 0 0 220px;
    position: fixed;
    left: 0;
    width: 220px;
    height: 100%;
    padding-left: 16px;
}

.right-sidebar {
    flex: 0 0 220px;
    position: fixed;
    right: 0;
    width: 220px;
    height: 100%;
    padding-right: 16px;
}

.center {
    flex: 1 1 auto;
    margin: 0 220px;
}

.message-form {
    padding: 16px 220px;
}

.message-hr {
    margin-top: 48px;
    border: none;
    border-top: 1px dotted #8c8b8b;
    text-align: center;
}

hr::before {
    content: attr(data-date);
    display: inline-block;
    position: relative;
    top: -12px;
    background-color: #ffffff;
    padding: 0 16px;
}

.balloon {
    padding: 16px;
    border-radius: 8px;
}


/*
hr {
    margin-top: 48px;
    border: none;
    border-top: 3px dashed pink;
    text-align: center;
}

hr::before {
    content: attr(data-date)"";
    display: inline-block;
    position: relative;
    top: -12px;
}
*/