@(accessToken: Option[twitter4j.auth.AccessToken])(channelForm: Form[ChannelForm], editForm: Form[ChannelForm])(channel: (Channel, User), channels: Seq[Channel], users: Seq[User], bookmarks: Seq[(Bookmark, Channel)], bookmarkMap: Map[String, Boolean], messages: Seq[(Message, User)], webSocketUrl: String)(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main(channel._1.channelName)(accessToken) {
    <!-- Left -->
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                <i class="far fa-plus-square float-right" data-toggle="modal" data-target="#entryForm-modal" data-toggle="tooltip" data-placement="bottom" title="チャンネルを作成します"></i>
                <span>チャンネル</span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    @if(channel._1.channelId == "general") {
                        general
                    } else {
                        <a href="@routes.ChannelController.read("general")">general</a>
                    }
                </li>

                @for(b <- bookmarks) {
                    <li class="list-group-item">
                        @if(b._1.channelId == channel._1.channelId) {
                            @{b._2.channelName}
                        } else {
                            <a href="@routes.ChannelController.read(b._1.channelId)">@{b._2.channelName}</a>
                        }
                    </li>
                }
            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                <span>チャンネル一覧</span>
            </div>
            <ul class="list-group list-group-flush">
                @for(c <- channels) {
                    @if(c.channelId != "general") {
                        <li class="list-group-item">
                            @if(bookmarkMap.getOrElse(c.channelId, false)) {
                                <i class="fas fa-heart float-right bookmark-toggle-button" data-channel-id="@c.channelId" data-user-id="@{accessToken.map(_.getUserId).get}" data-bookmark="@{bookmarkMap.getOrElse(c.channelId, false)}"></i>
                            } else {
                                <i class="far fa-heart float-right bookmark-toggle-button" data-channel-id="@c.channelId" data-user-id="@{accessToken.map(_.getUserId).get}" data-bookmark="@{bookmarkMap.getOrElse(c.channelId, false)}"></i>
                            }
                            @if(c.channelId == channel._1.channelId) {
                                @{c.channelName}
                            } else {
                                <a href="@routes.ChannelController.read(c.channelId)">@{c.channelName}</a>
                            }
                        </li>
                    }
                }
            </ul>
        </div>

    </div>

    <!-- Center -->
    <div class="col-md-6">
        <div id="messages">
            @for(message <- messages) {
                <div>
                    <p>
                        <span>名前：@{message._2.userName}</span>
                        <span>日付：@{message._1.updatedAt}</span>
                    </p>
                    <p>内容：@{message._1.message}</p>
                </div>
            }
        </div>
        <div>
            <input type="text" id="meg" type="text">
            <button id="btn" class="btn btn-primary" data-url="@webSocketUrl">送信</button>
        </div>
    </div>

    <!-- Right -->
    <div class="col-md-3">

        <div class="card">
            <div class="card-header">
                @if(accessToken.map(_.getUserId) == channel._1.createdBy && channel._1.channelId != "general") {
                    <i class="fas fa-edit float-right" data-toggle="modal" data-target="#editForm-modal" data-toggle="tooltip" data-placement="bottom" title="このチャンネルを編集します"></i>
                }
                <span id="channel-channelName">@channel._1.channelName</span>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <p class="card-title"><strong>製作者</strong></p>
                    <p class="card-text">@channel._2.userName</p>
                </li>
                <li class="list-group-item">
                    <p class="card-title"><strong>説明</strong></p>
                    <p id="channel-description" class="card-text">@channel._1.description</p>
                </li>
                <li class="list-group-item">
                    <p class="card-title"><strong>更新日</strong></p>
                    <p id="channel-updatedAt" class="card-text">@channel._1.updatedAt</p>
                </li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">
                ログインメンバー
            </div>
            <ul id="members" class="list-group list-group-flush">
                <li>hoge</li>
            </ul>
        </div>

    </div>


    <!-- Entry Modal -->
    <div class="modal fade" id="entryForm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">チャンネルの新規作成</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                @form(routes.ChannelController.create(channel._1.channelId)) {
                    @CSRF.formField

                    <div class="form-group" id="entryRadioBtn">
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="isPublic" id="isPublicTrue" value="true">
                            <label class="form-check-label" for="isPublicTrue">パブリック</label>
                        </div>
                        <div class="form-check-inline">
                            <input class="form-check-input" type="radio" name="isPublic" id="isPublicFalse" value="false" checked>
                            <label class="form-check-label" for="isPublicFalse">プライベート</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="entry-channelName">名前</label>
                        <input type="text" class="form-control" id="entry-channelName" name="channelName" placeholder="チャンネルの名前を入力してください">
                        <small id="entry-channelName-help" class="form-text text-muted">エラー文を表示する場所</small>
                    </div>

                    <div class="form-group">
                        <label for="entry-description">チャンネルの説明</label>
                        <textarea class="form-control" id="entry-description" rows="3" name="description"></textarea>
                        <small id="entry-description-help" class="form-text text-muted">エラー文を表示する場所</small>
                    </div>

                    <div class="form-group " id="entryCheckBox">
                        <p>招待するユーザー</p>
                        @for(user <- users) {
                            @if(user.userId == accessToken.map(_.getUserId)) {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="members[]" value="@user.userId" checked disabled>@user.userName
                                    </label>
                                </div>
                            } else {
                                <div class="form-check-inline">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="checkbox" name="members[]" value="@user.userId">@user.userName
                                    </label>
                                </div>
                            }
                        }
                    </div>

                    <input type="submit" class="btn btn-primary" value="チャンネルをつくる">
                }
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    @if(accessToken.map(_.getUserId) == channel._1.createdBy && channel._1.channelId != "general") {
        <!-- Edit Modal -->
        <div class="modal fade" id="editForm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@{channel._1.channelName}の編集</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @form(routes.ChannelController.update(channel._1.channelId)) {
                            @CSRF.formField
                            <div class="form-group">
                                <label for="edit-channelName">名前</label>
                                <input type="text" class="form-control" id="edit-channelName" name="channelName" placeholder="チャンネルの名前を入力してください" value="@editForm("channelName").value">
                                <small id="edit-channelName-help" class="form-text text-muted">エラー文を表示する場所</small>
                            </div>

                            <div class="form-group">
                                <label for="edit-description">チャンネルの説明</label>
                                <textarea class="form-control" id="edit-description" rows="3" name="description">@editForm("description").value</textarea>
                                <small id="edit-description-help" class="form-text text-muted">エラー文を表示する場所</small>
                            </div>

                            <input type="submit" class="btn btn-primary" value="チャンネルを編集する">
                        }

                    </div>
                    <div class="modal-footer">
                        @form(routes.ChannelController.delete(channel._1.channelId)) {
                            @CSRF.formField
                            <button class="btn btn-danger">チャンネルを削除する</button>
                        }
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    }












}