@(editForm: Form[ChannelForm])(user: Option[User], channel: (Channel, User), users: Seq[User])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@user.map { _user =>

    @if(isMineChannel(_user.userId, channel._1)) {
        <div class="modal fade" id="editForm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">@{channel._1.channelName}の編集</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true" style="color: #e9ecef">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        @form(routes.ChannelController.update(channel._1.channelId)) {
                            @CSRF.formField
                            @if(channel._1.isPublic) {
                                <div class="form-group" id="editRadioBtn">
                                    <div class="form-check-inline edit-form">
                                        <input class="form-check-input" type="radio" name="isPublic" id="editPublicTrue" value="true" checked>
                                        <label class="form-check-label" for="editPublicTrue">パブリック</label>
                                    </div>
                                    <div class="form-check-inline edit-form">
                                        <input class="form-check-input" type="radio" name="isPublic" id="editPublicFalse" value="false">
                                        <label class="form-check-label" for="editPublicFalse">プライベート</label>
                                    </div>
                                </div>

                            } else {
                                <div class="form-group" id="editRadioBtn">
                                    <div class="form-check-inline edit-form">
                                        <input class="form-check-input" type="radio" name="isPublic" id="editPublicTrue" value="true">
                                        <label class="form-check-label" for="editPublicTrue">パブリック</label>
                                    </div>
                                    <div class="form-check-inline edit-form">
                                        <input class="form-check-input" type="radio" name="isPublic" id="editPublicFalse" value="false" checked>
                                        <label class="form-check-label" for="editPublicFalse">プライベート</label>
                                    </div>
                                </div>
                            }

                            <div class="form-group">
                                <label for="edit-channelName">名前 (16文字以内)</label>
                                <input type="text" class="form-control" id="edit-channelName" name="channelName" value="@editForm("channelName").value">
                                @for(error <- editForm("channelName").errors) {
                                    <p class="errorMessage">@Messages(error.message, 16)</p>
                                }
                            </div>

                            <div class="form-group">
                                <label for="edit-purpose">目的 (32文字以内)</label>
                                <textarea class="form-control" id="edit-purpose" rows="3" name="purpose">@editForm("purpose").value</textarea>
                                @for(error <- editForm("purpose").errors) {
                                    <p class="errorMessage">@Messages(error.message, 32)</p>
                                }
                            </div>

                            <div class="form-group" id="editCheckBox" @if(channel._1.isPublic) { style="display: none" }>
                                <p>招待するユーザー</p>
                                @* 作成者は必ずメンバーになるので表示しない *@
                                @for(u <- users if u.userId != _user.userId) {
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            @* membersに登録されているユーザー名にはchecked *@
                                            @if(isMember(u.userId, channel._1)) {
                                                <input class="form-check-input" type="checkbox" name="members[]" value="@u.userId" checked>@u.userName
                                            } else {
                                                <input class="form-check-input" type="checkbox" name="members[]" value="@u.userId">@u.userName
                                                }
                                        </label>
                                    </div>
                                }
                            </div>

                            <input type="submit" class="btn btn-success float-right" value="チャンネルを編集する">

                        }

                        @form(routes.ChannelController.delete(channel._1.channelId)) {
                            @CSRF.formField
                            <button class="btn btn-danger">チャンネルを削除する</button>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
}

